*.idea

linkapedia_site/node_modules
linkapedia_site/public/javascripts/bower_components

npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
