extends layout-simple
block title
    title Linkapedia Blog Page

block append page_css
    link(rel='stylesheet', href='/javascripts/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', href='/stylesheets/blogs/landing.css')

block append page_js
    script(src='/javascripts/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
    script(src='/javascripts/blogs/landing.js')


block content
    div.accordion-container
        div(level='1').box
            div
                each domain in domains._embedded.domains
                    span.name
                        p(url-next='#{domain._links.taxonomies.href}') #{domain.name}
            if domains._links.next
                div(url-more='#{domains._links.next.href}')
                    span(aria-hidden='true').glyphicon.glyphicon-chevron-down
