.accordion-container{
  float: left;
  margin-left: 100px;
  width: 90%;
  height: 100%;
  position: absolute;
}

.box{
  float: left;
  width: 250px;
  margin-right: 10px;
  height: 100%;
}

p[url-next]{
  cursor: pointer;

}

div[level="1"]{
  background-color: rgb(205, 205, 205);
}

div[level="2"]{
  background-color: rgb(168, 168, 168);
}

div[level="3"]{
  background-color: rgb(161, 161, 161);
}

div[level="4"]{
  background-color: rgb(157, 157, 157);
}