.accordion-container{
  float: left;
  margin-left: 100px;
  width: 94%;
  height: 100%;
  position: absolute;
}

.box{
  float: left;
  width: 300px;
  margin-right: 10px;
  height: 100%;
}

p[url-next]{
  cursor: pointer;
  width: 95%;
}

p[url-next]:hover::after{
  font-family: 'Glyphicons Halflings';
  content: "\e072";
  position: relative;
  float: right;
}

div[level]{
  font-family: Roboto Condensed Light;
}

div[level="1"]{
  background-color: rgb(210, 210, 210);
  font-size: 2.3em;
}

div[level="2"]{
  background-color: rgb(190, 190, 190);
  font-size: 2em;
}

div[level="3"]{
  background-color: rgb(170, 170, 170);
  font-size: 1.7em;
}

div[level="4"]{
  background-color: rgb(160, 160, 160);
  font-size: 1.4em;
}