.accordion-container{
  float: left;
  margin-left: 100px;
  width: 90%;
  height: 100%;
  position: absolute;
}

.box{
  float: left;
  width: 250px;
  margin-right: 10px;
  height: 100%;
}

p[url-next]{
  cursor: pointer;
  font-size: 2.3em;

}

div[level="1"]{
  background-color: rgb(210, 210, 210);
}

div[level="2"]{
  background-color: rgb(190, 190, 190);
}

div[level="3"]{
  background-color: rgb(170, 170, 170);
}

div[level="4"]{
  background-color: rgb(160, 160, 160);
}