div.bar_left_side
    div.search
        span(class="glyphicon glyphicon-search search-icon")
    div.linkapedia-tools
        div.image
            img(class="linkapedia-tools-open-close", src="/images/linkapedia-logo.png", width="60px", height="46px")

