div.linkapedia-navigation
    div.container-fluid
        div.row
            div.col-md-3
                div.title-linkapedia-panel Linkapedia Navigation
        div.row
            div.col-md-1
                span(class="glyphicon glyphicon-film film-icon")
                div.title Our vision
            div.col-md-1
                img(class="linkapedia-tools-panel-icon", src="https://s3.amazonaws.com/linkapedia-domains-resources/domains/linkapedia-autoracing/images/home_big_image.jpg")
                div.title Autoracing Home Page
            div.col-md-1
                img(class="linkapediatools-panel-logo", src="/images/linkapedia-logo.png")
                div.title Home Page

        div.row
            div.col-md-3
                div.title-linkapedia-panel Become a member
        div.row
            div.col-md-1
                span(class="glyphicon glyphicon-user user-icon")
                div.title Login and Create a Profile
            div.col-md-1
                span(class="glyphicon glyphicon-info-sign info-sign-icon")
                div.title How do we use this Profile
            div.col-md-1
                span(class="glyphicon glyphicon-lock lock-icon")
                div.title Privacy Policy

        div.row
            div.col-md-3
                div.title-linkapedia-panel Affiliate Program
        div.row
            div.col-md-1
                span(class="glyphicon glyphicon-upload upload-icon")
                div.title Do you have a site?
            div.col-md-1
                span(class="glyphicon glyphicon-envelope envelope-icon")
                div.title Contact Us
            div.col-md-1
                span(class="glyphicon glyphicon-phone-alt phone-alt-icon")
                div.title About us

div.linkapedia-search
    input(type="text" placeholder="Find my interest..." class="search-input")

div.linkapedia-tools-panel-right
    div.image
        img(class="linkapedia-tools-close", src="/images/arrow_LeftLight.png", width="60px")
